( (true 32564) (false 9879) )

22% are incorrect
